.cards-featured-merch {
  height: 500px;
  width: 320px;
  background-color: gray;
  overflow: hidden;

  .cards-featured-merch-image-container {
    width: 100%;
    height: 52%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .cards-featured-merch-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 48%;
    padding: 5px 12px 15px 12px;
    box-sizing: border-box;

    h2 {
      @include dotted-overflow-text(24px, 1, 1.8);
      margin: 10px auto 0px auto;
      text-align: center;
    }

    .cards-featured-merch-description {
      @include dotted-overflow-text(15px, 5, 1.8);
      text-align: center;
      font-style: italic;
      color: $theme-color-darker;
      padding: 0 5px 0 5px;
    }

    .cards-featured-merch-price {
      text-align: center;
      font-size: 24px;

      .cards-featured-merch-price-converted-currency {
        font-size: 15px;
      }
    }
  }
}

.quick-view-card {
  width: 560px;
  height: 737px;
  border: solid 2px black;
  $image-height: 80%;

  .quick-view-card-image-container {
    width: 100%;
    height: $image-height;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 100% 0;
    }
  }

  .quick-view-card-info {
    width: 100%;
    height: 20%;
    $quick-view-card-toggle-container-height: 25%;

    .quick-view-card-image-toggle-container {
      $quick-view-card-image-toggle-button-size: 30px;
      height: $quick-view-card-toggle-container-height;
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;

      .quick-view-card-image-toggle-button {
        height: $quick-view-card-image-toggle-button-size;
        line-height: $quick-view-card-image-toggle-button-size;
        width: $quick-view-card-image-toggle-button-size;
        text-align: center;
        font-size: $quick-view-card-image-toggle-button-size;
        cursor: pointer;
        user-select: none;
      }

      .quick-view-card-image-toggle-button-arrow {
        margin: 0 7px;
      }
    }

    .quick-view-card-info-text {
      height: 100% - $quick-view-card-toggle-container-height;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      $side-text-length: 30%;

      .quick-view-card-info-categories {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 20px;
        padding-bottom: 7px;
        width: $side-text-length;

        p {
          margin: 0 0;
        }
      }

      .quick-view-card-info-main {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
      }

      .quick-view-card-info-quick-view {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        width: $side-text-length;

        div {
          position: absolute;
          width: 0;
          height: 0;
          border-left: 150px solid transparent;
          border-bottom: 80px solid #d9d9d9;
          right: 0;
          bottom: 0;
          z-index: 0;
        }

        p {
          z-index: 1;
          margin-right: 5px;
          text-align: right;
          margin-bottom: 7px;
        }
      }
    }
  }
}
