.cart-left-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0px 40px;
}

.cart-info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}