@import "./variables.scss";

@import "../app.scss";

@import "../view/components//Modal/modal.scss";
@import "../view/components/NavBar/navbar.scss";
@import "../view/components/Footer/footer.scss";

.table-cell-center {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}
