@use "./variables.scss" as *;
@use "./mixins.scss" as *;

@use "../app.scss";

@use "../view/modal/modal.scss";

@use "../view/components/Buttons/buttons.scss";
// @use "../view/components/NavBar/navbar.scss";
@use "../view/components/NavBarV2/navbar.scss";
@use "../view/components/Footer/footer.scss";
@use "../view/components/Cards/cards.scss";
@use "../view/components/Dropdown/dropdown.scss";
@use "../view/components/Searches/searches.scss";
@use "../view/components/Paypal/paypal.scss";
@use "../view/components/Slideshows/slideshows.scss";
@use "../view/components/SearchFilter/searchfilter.scss";
@use "../view/components/Separator/separator.scss";
@use "../view/components/Inputs/inputs.scss";

@use "../view/pages/Home/home.scss";
@use "../view/pages/Product/product.scss";
@use "../view/pages/Cart/cart.scss";
@use "../view/pages/CheckOut/checkOut.scss";
@use "../view/pages/Account/account.scss";
@use "../view/pages/Contact/contact.scss";
@use "../view/pages/Support/support.scss";
@use "../view/pages/Admin/admin.scss";
@use "../view/pages/Search/search.scss";

.table-cell-center {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.fade-in {
  animation: fadein 0.3s;
  opacity: 1;

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@media (max-width: 1717px) {
  .tmp-background-img {
    display: none;
  }

  .tmp-background-img-right {
    width: 95%;
  }
}

@media (min-width: 1717px) {
  .tmp-background-img-right {
    width: 48%;
  }
}
