$theme-color-dark: #02203c;
$theme-color-darker: #021a31;
$theme-color-dark-brighter: #033563;
$theme-color-bright: #f6f9fc;

$footer-height: 60px;

$standard-max-width: 1800px;

$z-index-modal: 100;
$z-index-highest: 10;
$z-index-second-highest: 9;
