.button-submit {
  border: 2px solid #2a838d;
  background-color: #2a838d;
  border-radius: 3px;
  width: 250px;
  margin: 0 auto;
  padding: 2px 0;
  transition: transform 0.2s;
  user-select: none;
  outline-width: 0;
  color: $theme-color-bright;
  box-shadow: 3px 3px black;

  &:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: 0.2s;
  }

  &:active {
    transform: translate(1px, 1px);
    box-shadow: 1px 1px black;
    transition: 0.1s;
  }
}
