.button-submit {
  border: none;
  background-color: #2a838d;
  border-radius: 3px;
  margin: 0 auto;
  padding: 5px 0;
  transition: 0.2s;
  user-select: none;
  outline-width: 0;
  color: $theme-color-bright;

  &:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: 0.2s;
    box-shadow: 3px 3px black;
  }

  &:active {
    transform: translate(1px, 1px);
    box-shadow: 1px 1px black;
    transition: 0.1s;
  }
}
