.header {
  display: flex;
  flex-direction: column;
}

$navbar-transition: 0.2s;

.navbar {
  background-color: $theme-color-bright;
  color: $theme-color-dark;
  width: 100%;
  user-select: none;
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: space-between;

  .navbar-search {
    @media screen and (max-width: $tablet-limit) {
      display: none;
    }
  }

  .navbar-title-container {
    align-items: center;
    display: flex;
    $title-shrink-limit: 1070px;
    $title-label-limit: 490px;

    @media screen and (min-width: $title-label-limit) {
      width: 300px;
    }

    @media screen and (max-width: $title-shrink-limit) {
      width: 200px;
    }

    @media screen and (max-width: $title-label-limit) {
      width: auto;
      margin-left: 2vw;
    }

    .navbar-title {
      width: 100%;
      display: flex;
      justify-content: space-evenly;

      h1 {
        margin: 0 0;
        padding: 0 0;
        display: flex;
        align-items: center;

        @media screen and (max-width: $title-shrink-limit) {
          font-size: medium;
        }

        @media screen and (max-width: $title-label-limit) {
          display: none;
        }
      }

      img {
        width: 130px;
        height: 130px;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }

  .navbar-commands {
    display: flex;

    .navbar-command {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      padding: 5px 5px;
      margin: 10px 10px;
      border-radius: 10px;
      position: relative;
      transition: $navbar-transition;

      @include highlight-content-on-hover(
        white,
        1px,
        $navbar-transition
      );

      &:hover {
        background-color: $theme-color-darker;
        color: $theme-color-bright;
        transition: $navbar-transition;
      }

      .navbar-command-icon {
        margin: auto;
      }

      label {
        margin: auto;
        cursor: inherit;
      }
    }
  }
}

.navbar-search.navbar-search-mobile {
  margin: 10px 10px;

  @media screen and (min-width: $tablet-limit) {
    display: none;
  }
}

.navbar-search {
  $navbar-search-height: 35px;
  $navbar-search-border-radius: 5px;

  display: flex;
  min-width: 40vw;
  height: 100%;
  align-items: center;

  .navbar-search-category-toggler {
    min-width: 60px;
    height: 100%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: $navbar-search-height;
    border-top-left-radius: $navbar-search-border-radius;
    border-bottom-left-radius: $navbar-search-border-radius;

    .navbar-search-selected-category {
      &::after {
        content: " ";
      }
      .dropdown-menu{
        min-width: 15em;
        position: relative;
        margin: 2em;
      }
      .dropdown-menu *{
        box-sizing: border-box;
      }
      .select{
        background: #2a2f3b;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px #2a2f3b solid;
        border-radius: 0.5em;
        padding: 1em;
        cursor: pointer;
        transition: background 0.3s;
      }
      .select-clicked{
        border: 2px #26489a solid;
        box-shadow: 0 0 0.8em #26489a;
      }
      .select:hover{
        background: #323741;
      }
      .dropdown.categories{
        list-style: none;
        padding: 0.2em 0.5em;
        background: #323741;
        border: 1px #363a43 solid;
        box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
        border-radius: 0.5em;
        color: #9fa5b5;
      }
    }
  }

  form {
    width: 100%;
    height: $navbar-search-height;

    input {
      font-size: 1rem;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      background-color: white;
      border: none;
      outline: none;
      margin: 0 0;
      color: black;
    }
  }

  .navbar-search-magnifier {
    height: $navbar-search-height;
    background-color: green;
    width: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-top-right-radius: $navbar-search-border-radius;
    border-bottom-right-radius: $navbar-search-border-radius;
  }

  li{
    background-color: gray;
    color: white;
    list-style: none;

    &:hover{
      background-color: black;
    }
    &:active{
      background-color: red;
    }
  }
}

.pages {
  display: flex;
  justify-content: center;

  a {
    text-decoration: none;
    color: inherit;
  }

  .pages-text{
    padding: 20px;
    transition: $navbar-transition;

    &:hover {
      background-color: black;
      color: $theme-color-bright
    }
  }
}

.horizontal-line {
  border: 0.5px solid #ccc;
  opacity: 0.5;
  margin: 20px 0;
}

.tabs-container {
  
  .tab-list {
    width: 70%;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
  }

  .tab-item {
    padding: 0px 10px;
    cursor: pointer;
    transition: $navbar-transition;

    &:hover {
      background-color: #e0e0e0; 
    }
  }

  .tab-item.active {
    background-color: $theme-color-dark;
    color: #fff;
  }

  .tab-content {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center;
  }

  .icon {
    font-size: 15px;
  }

  @media (min-width: 768px) {
    .icon {
      font-size: 20px;
    }
  }
  
  @media (min-width: 1024px) {
    .icon {
      font-size: 30px;
    }
  }
}
